.add-todo {
  padding: 10px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid $color-purple;
  margin: 10px 10px;
  border-radius: 12px;
  background-color: #f8f8f8;
  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      color: $color-purple;
      font-size: 18px;
      font-weight: 400;
      margin: 0px 9px;
    }
    .input-box {
      display: inline-block;
      width: 80%;
    }
  }
  .send-button {
    margin: 4px 0;
    border: none;
    height: 50px;
    width: 90%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1;
    color: #ffffff;
    background-color: $color-purple;
    border-radius: 40px;

    p {
      text-align: center;

      color: #ffffff;
      font-weight: 600;
    }
  }
}
